<div class="flex p-6 space-x-2 h-[100vh] bg-gray-50">
        <div class="w-full bg-white shadow rounded-lg">
            <p class="font-medium text-md p-4 "> Rooms </p>
            <div class="bg-white p-[2px] rounded-lg h-[60vh]">
                <div
                    *ngFor="let room of rooms" 
                    class="flex space-x-4 bg-[#F4F5F8] p-2 m-2 rounded-lg">
                    <span class="p-2 rounded-full bg-gray-700 text-[#ffff]">{{room.name[0]}}</span>
                    <span class="font-medium text-xs my-auto">{{ room.name }} </span>
                </div>
            </div>
        </div>
        <app-conversation [roomId]="roomId"></app-conversation>
</div>