<app-admin-dashboard>
    <div class="p-4 bg-white rounded-md">
        <ol
            class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
            <li class="{{ steps >=1?'text-indigo-400':''  }}"
                class="flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 ">
                <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200">
                    <span *ngIf="steps < 1" class="me-2">1</span>
                    <svg *ngIf="steps >=1" class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    Question <span class="hidden sm:inline-flex sm:ms-2">Info</span>
                </span>
            </li>
            <li class="{{ steps >=2?'text-indigo-400':''  }}"
                class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 ">
                <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200">
                    <span *ngIf="steps < 2" class="me-2">2</span>
                    <svg *ngIf="steps >=2 " class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    Choose <span class="hidden sm:inline-flex sm:ms-2">Subject</span>
                </span>
            </li>
            <li class="{{ steps >=3?'text-indigo-400':''  }}"
                class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 ">
                <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200">
                    <span *ngIf="steps < 3" class="me-2">3</span>
                    <svg *ngIf="steps >=3 " class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    Choose <span class="hidden sm:inline-flex sm:ms-2">Media</span>
                </span>
            </li>
            <li class="{{ steps >=4?'text-indigo-400':''  }}" class="flex  items-center ">
                <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200">
                    <span *ngIf="steps < 4" class="me-2">4</span>
                    <svg *ngIf="steps >=4 " class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    Choose <span class="hidden sm:inline-flex sm:ms-2">Anwers</span>
                </span>
            </li>
        </ol>
    </div>
    <div class="bg-white rounded-md mt-4">
        <app-question-info *ngIf="steps == 0" (childEvent)="receiveDataFromQuestionInfo($event)"></app-question-info>
    
        <app-choose-subject-for-question *ngIf="steps == 1" (childEvent)="receiveDataFromSubject($event)"></app-choose-subject-for-question>
    
        <app-choose-media-for-question *ngIf="steps == 2" (childEvent)="receiveDataFromMedia($event)"></app-choose-media-for-question>
        
        <app-choose-answers-for-question *ngIf="steps == 3" [question_id]="question.id"></app-choose-answers-for-question>
    </div>
</app-admin-dashboard>