<div>
    <form (submit)="postData()" class="max-w-sm mx-auto">
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">title</label>
            <input [(ngModel)]="subject.title" name="name"  type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">parent subject</label>
            <select class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="" id="">
                <option value="">parent subject</option>
                <option *ngFor="let subject of subjects"  :value="subject.id">{{ subject.title }}</option>
            </select>
        </div>
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
            <button type="submit" class="text-white bg-indigo-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
        </div>
    </form>
</div>