<div class="bg-[#F9F9F9] p-2 flex space-x-4 ">
    <div class="w-[177px] h-[97vh] rounded-md bg-[#EBEBEB] p-[8px]">
        <div class="flex space-x-4 justify-center p-2">
            <div class="h-[60px] w-[60px] bg-[#CDCDCD] rounded-lg">
            </div>
            <div class="">
                <p class="text-md">Mohcine</p>
                <p class="text-sm ">Khribech</p>
                <p class="text-xs font-light">Admin</p>
            </div>
        </div>
        <div class="h-[2px] bg-[#464646] my-2">
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-dashboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4h6v8h-6z" /><path d="M4 16h6v4h-6z" /><path d="M14 12h6v8h-6z" /><path d="M14 4h6v4h-6z" /></svg>
            <p>Dashboard</p>
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-subtask" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 0" /><path d="M4 5l4 0" /><path d="M6 5v11a1 1 0 0 0 1 1h5" /><path d="M12 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" /><path d="M12 15m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" /></svg>
            <p>Subjects</p>
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stairs-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 6h-5v5h-5v5h-5v5h-5" /><path d="M6 10v-7" /><path d="M3 6l3 -3l3 3" /></svg>
            <p>Levels</p>
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle-question" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15.02 19.52c-2.341 .736 -5 .606 -7.32 -.52l-4.7 1l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c1.649 1.407 2.575 3.253 2.742 5.152" /><path d="M19 22v.01" /><path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" /></svg>
            <p>Questions</p>
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-reorder" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M10 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M17 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" /><path d="M5 11v-3a3 3 0 0 1 3 -3h8a3 3 0 0 1 3 3v3" /><path d="M16.5 8.5l2.5 2.5l2.5 -2.5" /></svg>
            <p>Answers</p>
        </div>
        <div class="flex space-x-4 text-sm items-center text-[#00000] hover:bg-[#464646] hover:text-[#EBEBEB] p-2 rounded-lg transition ease-in-out delay-150 my-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M11 20h-4a3 3 0 0 1 -3 -3v-10a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v4" /><path d="M4 15l4 -4c.928 -.893 2.072 -.893 3 0l3 3" /><path d="M14 14l1 -1c.31 -.298 .644 -.497 .987 -.596" /><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" /></svg>
            <p>Media</p>
        </div>
        
    </div>
    <div class="w-full pr-2 overflow-y-scroll max-h-[97vh]">
        <ng-content></ng-content>
    </div>
</div>